<!DOCTYPE HTML>
<html>
<head>
  <title>Simple Form</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Simple home Page</h1>
 	<form method="post" action="/submit">
 		<!-- テキストボックス -->
  		<p th:text="${msg}"></p>
  		<input type="text" name="text1"/>
 		
 		
 		
 		<!-- チェックボックス -->
 		<div>
	 		<p th:text="${check}"></p>
	 		<input type="checkbox" name="check1" value="Movie" id="Movie"/>
	 		<label for="Movie">Movie</label>
	 		<br>
	 		<input type="checkbox" name="check1" value="Sport" id="Sport"/>
	 		<label for="Sport">Sport</label>
 		</div>
 		<!-- ラジオボタン -->
 		<div>
			<p th:text="${radioMsg}"></p>
		    <input type="radio" name="radio" value="都内" id="Option1"/>
		    <label for="Option1">都内</label>
		    <br>
		    <input type="radio" name="radio" value="都外" id="Option2"/>
		    <label for="Option2">都外</label>
		    <br>
		</div>
		<input type="submit" />
		
		<br>
		<br>
		
		<p th:if="${error_handling == 'error'}">入力にエラーがありました。正しく入力し直して下さい。</p>
		
 	</form>
</body>
</html>




